body.color-9 .single-price-area.active ul.price-item-list li i,
body.color-9 ul.pagination li:hover,
body.color-9 #hideSwitcher {
    color: #fff !important;
}

body.color-9 .replay-btn:hover,
body.color-9 ul.price-item-list li i,
body.color-9 ul.pagination li,
body.color-9 .btn-3:hover,
body.color-9 .popup-video,
body.color-9 .portfolio-pop button,
body.color-9 .khalif-content-box h2,
body.color-9 .about-exprience h3 span,
body.color-9 .about2-exprience h3 span,
body.color-9 .about-short-brief h2 span,
body.color-9 .single-post-info li:hover,
body.color-9 .post-details-info li:hover,
body.color-9 .progress-wrap:hover:before,
body.color-9 .progress-wrap:hover:after,
body.color-9 .main-menu nav>ul>li:hover>a,
body.color-9 ul.header-cta-btn li a:hover,
body.color-9 ul.footer-social li:hover a i,
body.color-9 .about2-short-brief h2 span,
body.color-9 .wdg-post-archive li:hover a,
body.color-9 .single-post-info li:hover a,
body.color-9 .post-details-info li:hover a,
body.color-9 .main-menu nav>ul>li.active>a,
body.color-9 ul.portfolio-menu-wrape li:hover,
body.color-9 ul.khalif-hero-social li:hover a,
body.color-9 ul.portfolio-menu-wrape li.active,
body.color-9 ul.portfolio-menu-wrape li.active,
body.color-9 .single-services-wrape:hover h3 a,
body.color-9 .all-testimonial .owl-nav div:hover,
body.color-9 .single-awards-list:hover .awards-web,
body.color-9 ul.footer-contact-info li span:before,
body.color-9 .single-sid-wdg .widget_meta ul li:hover a,
body.color-9 .single-wdg-post:hover .wdg-post-content h5 a,
body.color-9 .khalif-single-blog-wrape:hover h4 a.post-title,
body.color-9 .khalif-offcanvas-mobile-menu-area nav>ul>li:hover>a,
body.color-9 .khalif-offcanvas-mobile-menu-area nav>ul>li.active>a,
body.color-9 .khalif-breadcrumb-content .breadcrumb .breadcrumb-item a,
body.color-9 .khalif-footer-single-widget .widget_nav_menu .menu li a:hover {
    color: #9C27B0 !important;
}

body.color-9 .ab-progress .ab-progress-bar,
body.color-9 ul.pagination li:hover,
body.color-9 .btn-1:hover span,
body.color-9 .btn-2,
body.color-9 .btn-2:hover,
body.color-9 .btn-4:hover,
body.color-9 #hideSwitcher,
body.color-9 .single-count-box,
body.color-9 blockquote cite:before,
body.color-9 button.submit-btn:hover,
body.color-9 .contact-info-box:hover,
body.color-9 .single-price-area:hover,
body.color-9 .single-price-area.active,
body.color-9 .post-details-tag>a:hover,
body.color-9 .main-menu nav>ul>li:after,
body.color-9 .main-menu nav>ul>li:after,
body.color-9 .main-menu nav>ul>li:before,
body.color-9 .main-menu nav>ul>li:before,
body.color-9 .offcanvas-social ul li a:hover,
body.color-9 ul.team-social-wrape li:hover a,
body.color-9 .main-menu nav>ul>li.active:after,
body.color-9 .main-menu nav>ul>li.active:before,
body.color-9 .khalif-subscribe-content h2:after,
body.color-9 .khalif-pagination .nav-links a:hover,
body.color-9 blockquote.wp-block-quote cite:before,
body.color-9 .khalif-pagination .nav-links a.current,
body.color-9 .single-awards-list:hover .awards-number,
body.color-9 .single-awards-list:hover .awards-link a,
body.color-9 .khalif-pagination .nav-links span:hover,
body.color-9 .khalif-pagination .nav-links span.current,
body.color-9 .khalif-footer-style-shape .footer-shape-1,
body.color-9 .khalif-footer-style-shape .footer-shape-2,
body.color-9 .khalif-accordion-wrapper .card-header.btn-link,
body.color-9 .single-sid-wdg .widget_tag_cloud .tagcloud a:hover,
body.color-9 .khalif-all-team-area .swiper-slide-active .team-popup-wrape .popup-team,
body.color-9 .khalif-offcanvas-mobile-menu-area nav>ul>li:hover>.sub-menu li>a:hover {
    background: #9C27B0 !important;
}

body.color-9 .header-top-modal-btn .btn-1:hover,
body.color-9 blockquote,
body.color-9 .counter-circle,
body.color-9 .btn-2:hover:after,
body.color-9 .comments-avatar img,
body.color-9 .comments-box:hover,
body.color-9 .single-sid-wdg:hover,
body.color-9 .single-wdg-post:hover,
body.color-9 .post-details-tag>a:hover,
body.color-9 .single-awards-list:hover,
body.color-9 blockquote.wp-block-quote,
body.color-9 .main-menu nav>ul>li .sub-menu,
body.color-9 ul.team-social-wrape li:hover a,
body.color-9 .single-services-wrape:hover ::before,
body.color-9 .post-comments-form input.form-control:focus,
body.color-9 .post-comments-form textarea.form-control:focus,
body.color-9 .single-sid-wdg .widget_tag_cloud .tagcloud a:hover,
body.color-9 .khalif-offcanvas-mobile-menu-area nav>ul>li .sub-menu,
body.color-9 .khalif-all-blog-list .swiper-pagination-bullet,
body.color-9 .khalif-all-blog-list .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #9C27B0 !important;
}

body.color-9 .single-awards-list:hover .awards-number::after {
    border-top-color: #9C27B0;
}

body.color-9 .btn-3:hover svg,
body.color-9 .single-testimonial-content svg,
body.color-9 .single-price-area:hover .price-icon svg,
body.color-9 .single-price-area.active .price-icon svg,
body.color-9 .single-services-wrape:hover .services-style-shape svg,
body.color-9 .single-services-wrape:hover .single-services-icon span svg {
    fill: #9C27B0 !important;
}

body.color-9 .progress-wrap svg.progress-circle path {
    stroke: #9C27B0;
}